# Compiled class files
*.class
bin/

# Logs and temp files
*.log

# Eclipse workspace-level settings (ignore)
.metadata/

# IDE-specific files to ignore (optional)
*.tmp
*.swp
*.bak
.sonarlint/

# OS-specific junk
.DS_Store
Thumbs.db
